/* Tablet Styles */
@media (max-width: 768px) {
    .container {
      width: 80%;
    }
  }
  
  /* Phone Styles */
  @media (max-width: 480px) {
    .container {
      width: 90%;
    }
  
    h2 {
      font-size: 18px;
    }
  
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="password"] {
      padding: 8px;
    }
  
    button {
      padding: 8px;
    }
  
    p {
      font-size: 12px;
    }
  }